body{
    background-color: gray;
}
.principal{
    columns: 3;
    width: 30%;
    margin: 0%;
    letter-spacing: 0;
}
.parte1{
    color: blue;
}
.ingreso{
    display: block;
}
.parte2{
    color: blueviolet;
}
.ingreso1{
    display: block;
}
.parte3{
    width: 50%;
    color: cadetblue;
}
.ingreso2{
    display:block;
}
.totalidad{
    display: block;
    width: 50%;
    left: 100%;
}