#login-box {
    border: 1px solid blue;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15%;
    background: #00000080;
    padding: 20px 50px;
}

#login-box h1 {
    color: white;
}
#login-box .form .item input {
    width: 200px; 
    border: 0; 
    border-bottom: 5px solid white;
    font-size: 18px; 
    background: #ffffff00; 
    color: white; 
    padding: 5px 10px;
}

#login-box .form .item i {
    color: white;
    font-size: 18px ;
}

#login-box button {
    border: 0; 
    width: 150px; 
    height: 30px;
    margin-top: 18px; 
    font-size: 18px; 
    color: rgb(10, 8, 8); 
    border-radius: 25px;
    background-image: #70e1f5;  
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  
    background: linear-gradient(to right, #ffd194, #70e1f5); 
    ;
}

body {
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100% auto; 
    
}


