<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registro.css">
    <title>Agregar Productos</title>
</head>
<body>
        <form action="/agregarProducto" method="post">
            <div class="form">
                <h1>VentasLife</h1><img src="/ventaslife logo.png">
                <div id="agregar" class="agregar">
                    <input type="text" name="Producto" id="Producto" required><span class="barra"></span>
                    <label>Ingrese Productos:</label>
                </div>
                <div id="agregar" class="agregar">
                    <input type="decimal" name="Precio" id="Precio" required><span class="barra"></span> 
                    <label>Ingrese Precio:</label>   
                </div>
                <button class="agrego" type="submit">Agregar</button>
            </div> 
        </form>
    <a class="direccion" href="/vender">Ir a Ventas</a>
</body>
</html>