<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registro.css">
    <title>Agregar Productos</title>
</head>
<body>
    <header>
        <div class="cabeza">
            <h1 class="titulo">Ventas Life</h1>
        </div>
    </header>
    <div id="registro" class="registro">
        <form action="/agregarProducto" method="post">
            <div id="agrega-producto">
                <label class="producto">Ingrese Productos:</label>
                <input type="text"  placeholder="      Nombre de Producto" name="Producto" id="Producto" class="ingreso">
            </div>
            <div id="agrega-precio">
                <label class="producto">Ingrese Precio:</label>
                <input type="decimal" placeholder="      Precio de Producto" name="Precio" id="Precio" class="ingreso">    
            </div>
            <button class="agrego" type="submit">Agregar</button>
        </form>
    </div>

    <a class="direccion" href="/vender">Ir a Ventas</a>
</body>
</html>