<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registro.css">
    <title>Agregar Productos</title>
</head>
<body>
    <header>
        <h1>Ventas Life</h1>
    </header>
    <div id="registro">
        <form action="/agregarProducto" method="post">
            <div id="agrega-producto">
                <label>Ingrese Productos:</label>
                <input type="text"  placeholder="Nombre de Producto" name="Producto" id="Producto">
            </div>
            <div id="agrega-precio">
                <label>Ingrese Precio:</label>
                <input type="number" placeholder="Precio de Producto" name="Precio" id="Precio">    
            </div>
            <button type="submit">Agregar</button>
        </form>
    </div>
</body>
</html>