<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login | VentasLife</title>
    <link rel="stylesheet" href="registrarse.css">
    <script src="https://kit.fontawesome.com/c44018982e.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <div class="login-box">
      
      <h1>REGISTRARSE</h1>
      <form>
        <!-- USERNAME INPUT -->
        <label for="username"><i class="fas fa-user icon"></i> Usuario</label>
        <input type="text" placeholder="Correo" id="username" name="username">
        <!-- PASSWORD INPUT -->
        <label for="password"> <i class="fas fa-key icon"></i> Contraseña</label>
        <input type="password" placeholder="Contraseña" id="pasword" name="pasword">
        <input type="submit"  value="Registrar Usuario">
        <a href="/">Login</a><br>
      </form>
    </div>
  </body>
</html>