<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="logo.png">
    <title>VentasPrueba</title>
</head>
<body>
    <header>
        <img src="logo.png" class="imageninicial"><h1>VentasLife</h1>
    </header>
        <div id="padre" class="principal">
            <thead>
                    <div id="part1" class="parte1">
                        <b class="titlo">Productos</b>
                        <div class="content-select">
                            <select type="text" name="Producto" id="Producto" class="ingreso">
                            <% if(typeof datos !== 'undefined'){ %>
                                <% for (index in datos){ %>
                                    <option id=""><%= datos[index].Producto %></option>
                                <% } %>
                            <% } %>
                            </select>
                            <i></i>
                        </div>
                    </div>
                    <div id="part2" class="parte2">
                        <b class="titlo">Precio</b>
                        <div class="content-select">
                            <select type="number" name="Precio" id="Precio" class="ingreso1">
                            <% if(typeof datos !== 'undefined'){ %>
                                <% for (index in datos){ %>
                                    <option id=""><%= datos[index].Precio %></option>
                                <% } %>
                            <% } %>
                            </select>
                            <i></i>
                        </div>
                    </div>
                    <div id="part3" class="parte3">
                        <b class="titlo">Cantidad</b>
                        <div class="content-input">
                            <input type="number" id="Cantidad" class="ingreso2">  
                        </div>
                    </div>
            </thead>
        </div>
        <br>
        <button type="button" class="btn" name="button" id="button" onclick="agregar()">Continuar<span></span></button>
        <br>
        <div class="container">
            <table id="info" class="table">
            <br>
                <thead class="table">
                    <tr class="tabla">
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>SubTotal</th>
                    </tr>
                </thead>
            </table>
        </div>
        <br>
        <br>
        <br>

    <div id="asd" class="totalidad">
        <thead>
            <div class="subtotal">
                <b class="title">SubTotal</b>
                <br>
                <input type="number" id="SubTotal" class="caja">
            </div>
            <div class="igv">
                <b class="title">IGV</b>
                <br>
                <input type="number" id="IGV" class="caja">
            </div>
            <div class="total">
                <b class="title">Total:</b>
                <br>
                <input type="number" id="Total" class="caja"></br>
            </div>
        </thead>
    </div>
    <br>
    <footer>
        <script class="paypal" src="https://www.paypal.com/sdk/js?client-id=sb"></script>
    </footer>
    
    <script>paypal.Buttons({
        createOrder:function(data, actions){
            return actions.order.create({
                purchase_units:[{
                    amount: {
                        currency_code: 'USD',
                        value: total= document.getElementById("Total").value
                    }
                }],
                application_context: {
                    brand_name: `VentasLife`,
                    landing_page: 'NO_PREFERENCE',
                    user_action: 'PAY_NOW',
                    return_url: `http://localhost:2124/compraterminada`,
                    cancel_url: `http://localhost:2124`
                }
            });
        }
    }).render('body');</script>
    
    <script src="./ventas.js">
    </script>
</body>
</html>